.grid-container{
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 6;
    align-content: center;
    gap: 15%;
    width: 100%;
    height: 100vh;
    
   

}
.item1{
    
    background-color: #939C91;
    grid-column: 1;
    grid-row: 1 / 6;
    


}

.item2{
    background-color: #D7B8F3;
    grid-column: 2;
    grid-row: 1 / 4;

}

.item3{
    background-color: #F397D6;
    grid-column: 3;
    grid-row: 2 / 4;


}

.item4{
    background-color: #F42272;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    

}

.item5{
    background-color: #B8B8F3;
    grid-column: 2 / 5;
    grid-row-start: 1 / 4;
    


}

.item6{
    background-color: #F397D6;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
 



}

.item7{
    background-color: #F42272;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

.item8{
    background-color: #B8B8F3;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.item9{
    background-color:#F397D6;
    grid-column: 1 / 5;
    grid-row: 3 / 5;

}

.item10{
    background-color: #F42272;
    grid-column: 1 / 6;
    grid-row: 3 / 5;


}

.item11{
    background-color: #B8B8F3;
    grid-column: 1 / 2;
    grid-row: 2/ 4;


}

.item12{
    background-color: #F397D6;
    grid-column: 1;
    grid-row: 3 / 5;

}

p {
    color: rgb(32, 101, 101);
    text-align: justify;
    font-family: 'roboto' sans-serif;
    font-style: bold;
    font-size: 100%;
    line-height: 100%;
    text-transform: uppercase;
}